.project-content {
    margin-bottom: 1rem;
}

@media screen and (max-width: 1024px) {
    .content__container {
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
    }

    .project {
        height: auto;
    }
}

@media screen and (max-width: 600px) {
    .content__container {
        grid-template-columns: 1fr;
        gap: 1.5rem;
    }
}
