.text__container {
    max-width: 75%;
    position: relative;
}

.text-medium > a {
    text-decoration: underline;
    font-weight: 600;
    color: var(--color-medium);
}

.text-medium > a:hover {
    color: var(--color-primary);
}

.text-medium {
    font-size: 1.2rem;
}

@media screen and (max-width: 1024px) {
}

@media screen and (max-width: 600px) {
}
