@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    text-decoration: none;
}

:root {
    --color-bg: #EAE3C0;
    --color-bg-variant: #F9F6E5;
    --color-primary: #D5BC3D;
    --color-primary-variant: rgba(214, 204, 117, 0.4);
    --color-black: #000;
    --color-white: #fff;
    --color-hover: #B49700;
    --color-light: rgba(0, 0, 0, 0.3);
    --color-medium: rgba(0, 0, 0, 0.5);

    --transition: all 400ms ease;

    --container-width-lg: 75%;
    --container-width-md: 86%;
    --container-width-sm: 90%;
}

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    display: none;
}

body {
    font-family: "Mukta", sans-serif;
    background: var(--color-bg);
    color: var(--color-black);
    line-height: 1.7;
}

/* General Styles */

.container {
    width: 90%;
    margin: 0 auto;
}

.content__container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
    width: 85%;
}

.content__container > div {
    background: var(--color-bg-variant);
    padding: 2rem 2rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);
}

.content__container > div:hover {
    background: transparent;
    border-color: var(--color-primary-variant);
    cursor: default;
    border: transparent;
}

.content__container > div h3 {
    color: var(--color-primary);
}

h1, h2, h3, h4, h5 {
    font-weight: 500;
}

h4 {
    font-size: 0.9rem;
}

h1 {
    font-size: 2.5rem;
}

section {
    height: 100vh;
}

section > h2, section > h5 {
    text-align: center;
    color: var(--color-light);
}

section > h2 {
    color: var(--color-primary);
    margin-bottom: 3rem;
    margin-top: 6rem;
    font-size: 2rem;
}

.text-light {
    color: var(--color-light);
}

.text-medium {
    color: var(--color-medium);
}

a {
    color: var(--color-primary);
    transition: var(--transition);
}

.btn {
    width: max-content;
    display: inline-block;
    color: var(--color-primary);
    padding: 0.75rem 1.2rem;
    border-radius: 0.4rem;
    cursor: pointer;
    border: 1px solid var(--color-primary);
    transition: var(--transition);
}

.btn:hover {
    background: var(--color-hover);
    color: var(--color-bg);
    border-color: transparent;
}

.btn-primary {
    background: var(--color-primary);
    color: var(--color-bg);
}

.navbuttons {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.nav-text {
    cursor: pointer;
    display: flex;
    color: var(--color-black);
    text-decoration: underline;
    margin-bottom: 1.2rem;
    font-size: 2.5rem;
}

.nav-text:hover {
    color: #F3CF1B;
}

img {
    display: block;
    width: 100%;
    object-fit: cover;
}

/* Media Queries (Medium Devices) */
@media screen and (max-width: 1024px) {
    .container {
        width: var(--container-width-md);
    }

    section {
        margin-top: 6rem;
    }
}

/* Media Queries (Small Devices) */
@media screen and (max-width: 600px) {
    .container {
        width: var(--container-width-sm);
    }

    section > h2{
        margin-bottom: 2rem;
    }
}